# Environment
.env
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Ignore output models and checkpoints
FineTunning Course/practice/output_model/
FineTunning Course/practice/checkpoint
FineTunning Course/practice/data
.ipynb_checkpoints
